@import url('slick-default-theme.css');

* {
}

body {
	font-size : 12px;
}

h2 {
    font-size: 10pt;
}

ul {
    margin-left: 0;
    padding: 0;
    cursor: default;
}

li {
    background: url("../images/arrow_right_spearmint.png") no-repeat center left;
    padding: 0 0 0 14px;

    list-style: none;
    margin: 0;
} 

#myGrid {
    background: transparent;
    outline: 0;
    height : 600px;
}

.grid-header {
	border-bottom: 0;
	border-top: 0;
	color: black;
	height: 14px;
	line-height: 14px;
}	

.grid-header label {
	display: inline-block;
	font-weight: bold;
    margin: auto auto auto 6px;
}

.grid-header .ui-icon {
    margin: 4px 4px auto 6px;
    background-color: transparent;
    border-color: transparent;
}

.grid-header .ui-icon.ui-state-hover {
    background-color: white;
}

.grid-header #txtSearch {
	margin: 0 4px 0 4px;
	padding: 2px 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid silver;
}

.options-panel {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid silver;
	background: #f0f0f0;	
	padding: 4px;		
	margin-bottom: 20px;
}

 
 

.slick-cell {
	float: left;

	border: none;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	z-index: 1;
	padding: 1px 2px 2px 1px;
    margin: 0;
    
	white-space: nowrap;

	cursor: default;
} 

.slick-cell a {
    text-decoration : none;
}

.slick-cell a:hover {
    text-decoration : underline;
}

.slick-cell .c0, div.ui-widget-content.slick-row .c0 {
	color : #ccc;
}

.slick-row {
	padding-bottom : 6px;
}


.slick-viewport {

	overflow : scroll;
	height : 600px;

}


#grid_search_form {
	text-align : center;
	margin-left : auto;
	margin-right : auto;
}

#grid_search_input {
	font-size : x-large;
}

#grid_search_input_button {
	font-size : x-large;
	background : #ccc;
	border : 1px solid #999;
}

#grid_search_results_count {
	font-size : small;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
 

/* Individual cell styles */
.slick-cell.task-name {
	font-weight: bold;
	text-align: right;
}


.slick-cell.task-percent {
	text-align: right;
}


.slick-cell.cell-move-handle {
	font-weight: bold;
	text-align: right;

    background: #efefef;
	cursor: move;
}

.cell-move-handle:hover {
	background: #b6b9bd;
}

.slick-row.selected .cell-move-handle {
	background: #D5DC8D;
}

.slick-row .cell-actions {
	text-align: left;
}

.slick-row.complete {
	background-color: #DFD;
	color: #555;
}

.percent-complete-bar {
	display: inline-block;
	height: 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}



