webapp/config.inc.php
webapp/config.inc.bak.php
data/
!tests/data
!webapp/data/README.md
tests/config.tests.inc.php
.*
!.travis.yml
extras/cron/config
extras/scripts/autodeploy-conf
extras/scripts/migratedb-conf
extras/scripts/lic_header.py
extras/scripts/test-pull-postback-conf
webapp/test_installer/*
webapp/plugins/twitterrealtime/streaming/*.pid
build/
extras/dev/ramdisk/osx_make_ramdisk_db.conf
