common/config.inc.php
common/recaptchalib.php
webapp/config.webapp.inc.php
crawler/config.crawler.inc.php
tests/config.tests.inc.php
webapp/templates_c/*.php
webapp/templates_c/cache/*.tpl
crawler/logs/*.log
crawler/logs/archive/*.bz2
libs/*
smarty/*
.*
extras/cron/config
extras/scripts/autodeploy-conf
