webapp/config.inc.php
webapp/config.inc.bak.php
webapp/_lib/view/compiled_view/*.php
webapp/_lib/view/compiled_view/cache/*.tpl
logs/archive/*.bz2
logs/*log
logs/crawl.pid
logs/lastcrawl
tests/config.tests.inc.php
.*
extras/cron/config
extras/scripts/autodeploy-conf
extras/scripts/migratedb-conf
webapp/test_installer/*
build/*