<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="utf-8">
<title>ThinkUp</title>
<link rel="shortcut icon" type="image/x-icon"
	href="/assets/img/favicon.ico">
<!-- jquery -->
<link type="text/css" rel="stylesheet"
	href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
<script type="text/javascript"
	src="//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript"
	src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<!-- custom css -->
<link type="text/css" rel="stylesheet"
	href="#THINKUP_BASE_URL#assets/css/base.css">
<link type="text/css" rel="stylesheet"
	href="#THINKUP_BASE_URL#assets/css/positioning.css">
<link type="text/css" rel="stylesheet"
	href="#THINKUP_BASE_URL#assets/css/style.css">
<link type="text/css" rel="stylesheet"
	href="#THINKUP_BASE_URL#assets/css/installer.css">
</head>

<body>

<div id="status-bar" class="clearfix">

<div class="status-bar-left"><!-- the user has not selected an instance -->
</div>
<!-- end .status-bar-left -->

<div class="status-bar-right">
<ul>
	<li>&nbsp;</li>
</ul>
</div>
<!-- end .status-bar-right --></div>
<!-- end #status-bar -->

<div class="container clearfix">

<div id="app-title"><a href="#THINKUP_BASE_URL#index.php">
<h1><span id="headerthink">Think</span><span id="headerup">Up</span></h1>
</a></div>
<!-- end #app-title -->

<!-- end .container -->
<div class="container_24 thinkup-canvas clearfix">
<div class="grid_22 prefix_1 alpha omega prepend_20 append_20 clearfix">
<div class="alert urgent"
	style="margin: 20px 0px; padding: 0.5em 0.7em;">
<p><span class="ui-icon ui-icon-alert"
	style="float: left; margin: .3em 0.3em 0 0;"></span> <b>Oops!</b> ThinkUp is unable
to run because of incorrect folder permissions.<br /><br />
To fix this problem, run<br />
<code>chown -R #WHOAMI# #COMPILE_DIR#</code><br />
on your server, using root (or sudo), and then reload this page to continue.<br /><br />
If you don't have root access, use the following command instead:<br />
<code>chmod -R 777 #COMPILE_DIR#</code><br />
</p>
</div>
</div>
</div>

<!-- .content -->

</body>

</html>