html {
	background: #eeeeea;
	font: small Candara, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #0060e0;
}

a:hover {
	text-decoration : underline;
	color : red;
}

a:visited {
	color : black;
	text-decoration: underline;
}

h1 {
	font-size : x-large;
	//display : none;
}

h2 {
	padding-bottom : 20px;
	font-size : smaller;
}

.section h2 {
	//display : none;
}

h3 {
	font-weight : 800;
}

li {
	padding-bottom : 10px;
	line-height : 125%;
}

#hd, #ft {
	padding : 20px 20px 20px 0px;
}

#keystats {
	padding : 5px;
	font-size : medium;
}

#yui-main .yui-g {
	margin-left : 50px;
	width : 600px;
}

.success {
	background-color:#BFDFBF;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.info {
	background-color:#FFFFAD;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

 /******* MENU *******/  
	 #top #menu {
	margin:5px;
	padding:5px;
	width : 100%;
	font-size : smaller;
}
 #top #menu li {
	padding: 8px;
	margin:10px;
	display : inline;
}
 #top #menu li:hover{  
     color: #0060e0;
     cursor: pointer;  
 }  
 
 .submenu {
 	padding-left : 20px;
 	padding-top : 10px;
 	font-size : small;
 }
 
 #sidemenu {
 	display : none;
 }
 
 /******* /MENU *******/  
 /******* LOADING *******/  
 #loading, #loading_mentions, #loading_followers, #loading_friends, #loading_links {  
     visibility: hidden;  
     float : left;
 }  
 /******* /LOADING *******/

 
 /******* Tweet Formatting ********/
 
 .individual-tweet {
 	padding : 10px;
 	margin-top : 10px;
 	clear : left;
 }
 
 .individual-tweet p {
 	font-size : smaller;
 }
 
 .reply {
 	padding-left : 85px;
 }
 
 .private {
 	border : 1px dotted #666;
 	background-color : #eee;
 }
 
 .person-info {
 	float: left;
 	margin-right: 10px;
 	width : 80px;
 	text-align : center;
 }
 
 li.individual-tweet h3 a {
     font-size : x-small;
     color : #666;
 }
 
 li.individual-tweet h4, li.individual-tweet form {
     font-size : xx-small;
     visibility:hidden;
 }
 
 li.individual-tweet h4.reply-count {
 	font-size : medium;
	visibility:visible;
 }

 li.individual-tweet:hover h4, li.individual-tweet:hover form {
     visibility: visible; 
     color : #666;
 }
 
 
 li.individual-tweet:hover h3 a {
	color: #0060e0;
 }		 
 
li.individual-tweet h3 a.most-popular {
 	font-size : medium;
 	font-weight : strong;
 }

 .avatar { 	
 	border: solid 1px #ccc;
 }

.error {
	background-color:#FF8080;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:white;
	text-align:center;
	font-weight:bold;
}
 /******* /Tweet Formatting ********/