#!/bin/bash

thinkup="/your-path-to/thinkup"
thinkup_username="you@example.com"
thinkup_password="yourttpassword"

#Some Simple Paths
logdir="$thinkup/logs"
logarchive="$thinkup/logs/archive"
crawler="$thinkup/webapp/crawler/crawl.php"

#PHP exe path
php="/usr/local/php5/bin/php"

#Desired archive modifier 
#default YYYYWW (year Week)
namevar=`date +%Y%W`

#Time between crawls - Optional
#Set this in minutes, and set your cron
#job to run at more frequent intervals.
#crawl_interval=20


#############################
#Don't Alter anything below 
#this mark unless you know 
#what you are doing
#############################

crawllog="$logdir/crawler.log"
crawllogarch="$logarchive/crawler-$namevar.tar.bz2"
