#!/bin/bash

thinktank="/your-path-to/thinktank"
thinktank_username="you@example.com"
thinktank_password="yourttpassword"

#Some Simple Paths
logdir="$thinktank/logs"
logarchive="$thinktank/logs/archive"
crawler="$thinktank/webapp/crawler/crawl.php"

#PHP exe path
php="/usr/local/php5/bin/php"

#Desired archive modifier 
#default YYYYWW (year Week)
namevar=`date +%Y%W`

#############################
#Don't Alter anything below 
#this mark unless you know 
#what you are doing
#############################

crawllog="$logdir/crawler.log"
crawllogarch="$logarchive/crawler-$namevar.tar.bz2"
