/*
==================================================
  RESET
  Clears all browser-applied styles
==================================================
*/

html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, code, del, dfn, em,
img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: "Helvetica Neue", Arial, "Helvetica", sans-serif;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td, th {
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:"";
}

blockquote, q {
  quotes:"" "";
}

a img {
  border: 0;
}

/* Clearfix */
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

* html .clearfix             { zoom: 1; } /* IE6 */

*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*
==================================================
  GRID
  24-col, 960px fixed width grid
  Based on 960 Grid System - http://960.gs/
  Licensed under GPL and MIT.
==================================================
*/

.container_24 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.grid_1,  .grid_2,  .grid_3,  .grid_4,  .grid_5,  .grid_6,
.grid_7,  .grid_8,  .grid_9,  .grid_10, .grid_11, .grid_12,
.grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18,
.grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24 {
  display: inline;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

/* Children */
.alpha { margin-left: 0; }  /* first child */
.omega { margin-right: 0; } /* last child */

/* Grid */
.container_24 .grid_1  { width: 30px;  }
.container_24 .grid_2  { width: 70px;  }
.container_24 .grid_3  { width: 110px; }
.container_24 .grid_4  { width: 150px; }
.container_24 .grid_5  { width: 190px; }
.container_24 .grid_6  { width: 230px; }
.container_24 .grid_7  { width: 270px; }
.container_24 .grid_8  { width: 310px; }
/* grid_9 contains the tweet/status content. Word wrapping and overflow handling
are in place to stop long URLs or words from overflowing. */
.container_24 .grid_9  { width: 350px; word-wrap: break-word; overflow: auto; }
.container_24 .grid_10 { width: 390px; }
.container_24 .grid_11 { width: 430px; }
.container_24 .grid_12 { width: 470px; }
.container_24 .grid_13 { width: 510px; }
.container_24 .grid_14 { width: 550px; }
.container_24 .grid_15 { width: 590px; }
.container_24 .grid_16 { width: 630px; }
.container_24 .grid_17 { width: 670px; }
.container_24 .grid_18 { width: 710px; }
.container_24 .grid_19 { width: 750px; }
.container_24 .grid_20 { width: 790px; }
.container_24 .grid_21 { width: 830px; }
.container_24 .grid_22 { width: 870px; }
.container_24 .grid_23 { width: 910px; }
.container_24 .grid_24 { width: 950px; }

/* Prefix Extra Space */
.container_24 .prefix_1  { padding-left: 40px;  }
.container_24 .prefix_2  { padding-left: 80px;  }
.container_24 .prefix_3  { padding-left: 120px; }
.container_24 .prefix_4  { padding-left: 160px; }
.container_24 .prefix_5  { padding-left: 200px; }
.container_24 .prefix_6  { padding-left: 240px; }
.container_24 .prefix_7  { padding-left: 280px; }
.container_24 .prefix_8  { padding-left: 320px; }
.container_24 .prefix_9  { padding-left: 360px; }
.container_24 .prefix_10 { padding-left: 400px; }
.container_24 .prefix_11 { padding-left: 440px; }
.container_24 .prefix_12 { padding-left: 480px; }
.container_24 .prefix_13 { padding-left: 520px; }
.container_24 .prefix_14 { padding-left: 560px; }
.container_24 .prefix_15 { padding-left: 600px; }
.container_24 .prefix_16 { padding-left: 640px; }
.container_24 .prefix_17 { padding-left: 680px; }
.container_24 .prefix_18 { padding-left: 720px; }
.container_24 .prefix_19 { padding-left: 760px; }
.container_24 .prefix_20 { padding-left: 800px; }
.container_24 .prefix_21 { padding-left: 840px; }
.container_24 .prefix_22 { padding-left: 880px; }
.container_24 .prefix_23 { padding-left: 920px; }



/* Suffix Extra Space */
.container_24 .suffix_1  { padding-right: 40px;  }
.container_24 .suffix_2  { padding-right: 80px;  }
.container_24 .suffix_3  { padding-right: 120px; }
.container_24 .suffix_4  { padding-right: 160px; }
.container_24 .suffix_5  { padding-right: 200px; }
.container_24 .suffix_6  { padding-right: 240px; }
.container_24 .suffix_7  { padding-right: 280px; }
.container_24 .suffix_8  { padding-right: 320px; }
.container_24 .suffix_9  { padding-right: 360px; }
.container_24 .suffix_10 { padding-right: 400px; }
.container_24 .suffix_11 { padding-right: 440px; }
.container_24 .suffix_12 { padding-right: 480px; }
.container_24 .suffix_13 { padding-right: 520px; }
.container_24 .suffix_14 { padding-right: 560px; }
.container_24 .suffix_15 { padding-right: 600px; }
.container_24 .suffix_16 { padding-right: 640px; }
.container_24 .suffix_17 { padding-right: 680px; }
.container_24 .suffix_18 { padding-right: 720px; }
.container_24 .suffix_19 { padding-right: 760px; }
.container_24 .suffix_20 { padding-right: 800px; }
.container_24 .suffix_21 { padding-right: 840px; }
.container_24 .suffix_22 { padding-right: 880px; }
.container_24 .suffix_23 { padding-right: 920px; }

/* Push Space */
.container_24 .push_1  { left: 40px;  }
.container_24 .push_2  { left: 80px;  }
.container_24 .push_3  { left: 120px; }
.container_24 .push_4  { left: 160px; }
.container_24 .push_5  { left: 200px; }
.container_24 .push_6  { left: 240px; }
.container_24 .push_7  { left: 280px; }
.container_24 .push_8  { left: 320px; }
.container_24 .push_9  { left: 360px; }
.container_24 .push_10 { left: 400px; }
.container_24 .push_11 { left: 440px; }
.container_24 .push_12 { left: 480px; }
.container_24 .push_13 { left: 520px; }
.container_24 .push_14 { left: 560px; }
.container_24 .push_15 { left: 600px; }
.container_24 .push_16 { left: 640px; }
.container_24 .push_17 { left: 680px; }
.container_24 .push_18 { left: 720px; }
.container_24 .push_19 { left: 760px; }
.container_24 .push_20 { left: 800px; }
.container_24 .push_21 { left: 840px; }
.container_24 .push_22 { left: 880px; }
.container_24 .push_23 { left: 920px; }

/* Pull Space */
.container_24 .pull_1  { left: -40px;  }
.container_24 .pull_2  { left: -80px;  }
.container_24 .pull_3  { left: -120px; }
.container_24 .pull_4  { left: -160px; }
.container_24 .pull_5  { left: -200px; }
.container_24 .pull_6  { left: -240px; }
.container_24 .pull_7  { left: -280px; }
.container_24 .pull_8  { left: -320px; }
.container_24 .pull_9  { left: -360px; }
.container_24 .pull_10 { left: -400px; }
.container_24 .pull_11 { left: -440px; }
.container_24 .pull_12 { left: -480px; }
.container_24 .pull_13 { left: -520px; }
.container_24 .pull_14 { left: -560px; }
.container_24 .pull_15 { left: -600px; }
.container_24 .pull_16 { left: -640px; }
.container_24 .pull_17 { left: -680px; }
.container_24 .pull_18 { left: -720px; }
.container_24 .pull_19 { left: -760px; }
.container_24 .pull_20 { left: -800px; }
.container_24 .pull_21 { left: -840px; }
.container_24 .pull_22 { left: -880px; }
.container_24 .pull_23 { left: -920px; }

/*
==================================================
  TYPOGRAPHY
  These styles are due for a total rewrite;
  in the meantime, semi-minified for performance.
==================================================
*/

/* --- DATA GRIDS ----------------------------- */

.header {padding: 10px 0 0 20px;font-weight: 500;font-size: .8em;margin-bottom:1px; background-color : #FAF9F2;}
.footnote h2 {font-size:1.6em;padding-left:80px;}

/* --- HEADLINES ------------------------------ */

.thinkup-canvas h1 {color: #363636;font-size:1.6em;font-weight:700;margin:0;padding:0 0 0 0;}
.thinkup-canvas h4 {color: #000;line-height:1em;font-size:1em;font-weight:700;margin:0;padding:0 0 10px 35px;}
.thinkup-canvas h1.user {margin:0;padding:0;}
.thinkup-canvas h1.post {color:#000;font-size:1em;font-weight:500;margin:0;padding:0;border:0px;}
.thinkup-canvas h2 {color:#363636;font-size:1.2em;text-transform: capitalize;margin:0;padding:30px 0px 0px 0px;border-top:0px;}
.thinkup-canvas h2.subhead {color:#363636;font-size:1.2em;font-weight:500;margin:0;padding:0;border-top:0px;}

/* --- CONTENT -------------------------------- */

.post {word-wrap: break-word;} /* border-top:1px solid #CCC; */
.tweet {font-size:1.6em;line-height:1.1em; word-wrap: break-word;}
.individual-tweet {padding:0; line-height:1.2em;} /* border-top:1px solid #CCC;*/
.individual-tweet a:link, .individual-tweet a:visited {text-decoration:none;}
.individual-tweet a:hover {text-decoration:underline;}
.individual-tweet p {}
.individual-tweet ul {margin:10px 0 0 5px;padding-left:10px;}
.individual-tweet li {font-size:0.8em;}
.reply {border-top:1px dashed #CCC;}
.private {background-color:#FFF;}
.person-info {float:left;margin-right:10px;width:80px;text-align:center;font-size:1.2em;}
.no-post-text {font-style: italic;color: #666;}

/* --- LISTS ---------------------------------- */

ul.list-plugins {margin-left:0px;}
ul.list-plugins li {list-style:none;}

/* --- FORMS ---------------------------------- */

form.login label {font-size:24px;line-height:2.2em;}
form.login input {margin:0.5em 0 0 0;font-size:1.4em;width:345px;}
form.login input#login-save {width:230px;}
form.login .captcha input {width:180px;}
form.login .captcha img {margin-top:0.6em;padding-right:90px;float:right;}
#select8 {font-size:0.9em;margin:0.8em 0 0 0;padding:6px;width:350px;}

/* --- IMAGES AND GRAPHICS -------------------- */

.avatar-container { width: 40px; height: 40px; padding-bottom : 30px; }
.help-container { float:right;margin:40px; }
img.avatar {float:left;margin:5px 0 5px 5px;width:40px;height:40px;}
img.avatar2 {float:left;margin:6px 0 0 0;width:48px;height:48px;}
img.avatar_sm {margin:.3em 0 0 0;width:30px;height:30px;}
img.avatar_xsm {margin:.5em 1px 0 0;width:20px;height:20px;}
img.avatar_overlay {position: relative;left: 15px;top: -15px;width: 40px;height: 40px;}
img.service-icon, img.service-icon2 {position: relative;width: 16px;height: 16px;top: -16px;left: 29px;}
img.service-icon2 {left: 32px;}

/* .pic {border: 1px solid #CCC;padding: 5px 0px 0px 5px;} */
/*.pic {float:right;margin:10px 0 10px 10px;border:1px solid #CCC;padding:5px 5px 0 5px;}*/
.pic img {max-height: 150px; }

.promo-thumb {float:left;width:113px;height:150px;margin-top: 13px;margin-left:15px;}
.promo-thumb .pic img {height:100px;width:100px;}

#dart1 {position:relative;top:-45px;left:50px;height:45px;}
#dart2 {position:relative;top:-45px;left:235px;height:45px;}
#dart3 {position:relative;top:-45px;left:430px;height:45px;}
#dart4 {position:relative;top:-45px;left:620px;height:45px;}
#dart5 {position:relative;top:-45px;left:810px;height:45px;}

#loading_updates,
#loading_mentions,
#loading_followers,
#loading_friends,
#loading_links {visibility:hidden;position:relative;top:-5px;}

.icon-locked {background-position: -192px -96px;}
.icon-unlocked {background-position: -208px -96px;}
.sprite {background-image: url("../img/ui-icons_222222_256x240.png");height: 16px;width: 16px;}
.sprite {background-repeat: no-repeat;display: block;overflow: hidden;text-indent: -99999px;}


/* --- BUTTONS -------------------------------- */
/* adapted from the filament group: http://www.filamentgroup.com/examples/buttonFrameworkCSS/ */

.linkbutton {outline:0;margin:4px 4px 4px 0;padding:0.4em 1em;text-decoration:none !important;cursor:pointer;position:relative;text-align:center;zoom:1;}
.linkbutton .ui-icon {position:absolute;top:50%;margin-top:-8px;left:50%;margin-left:-8px;}


/* remove extra button width in IE */
button.fg-button {width:auto;overflow:visible;}
.tt-icon-left {float:left;margin:0.3em 0.5em;}
.linkbutton-icon-left {padding-left:2.1em;}
.linkbutton-icon-right {padding-right:2.1em;}
.linkbutton-icon-left .ui-icon {right:auto;left:0.2em;margin-left:0;}
.linkbutton-icon-right .ui-icon {left:auto;right:0.2em;margin-left:0;}
.linkbutton-icon-solo {display:block;width:8px;text-indent:-999em;} /* solo icon buttons must have block properties for the text-indent to work */
.linkbuttonset {float:left;}
.linkbuttonset .fg-button {float:left;}
.linkbuttonset-single .fg-button, .linkbuttonset-multi .fg-button {margin-right:-1px;}
.tt-toolbar {padding:0.5em;margin:0;}
.tt-toolbar .fg-buttonset {margin-right:1.5em;padding-left:1px;}
.tt-toolbar .fg-button {font-size:1em;}

table.public_user_stats td.name { padding-right:20px; }
table.public_user_stats td .detail { font-size:smaller; }
table.public_user_stats td.value { vertical-align:top; }