ul {
  margin: 10px 0 10px 15px;
}
code {
  font-family: Consolas,Monaco,Courier,monospace;
}
#status-bar {
  height: 22px;
}
#installer-die, #installer-page {
  background-color: #FFF;
  margin-top: 20px;
}

#installer-die textarea {
    font-size : x-small;
}

#installer-page {
    margin-top: 42px;
    margin-bottom : 50px;
}
.install_step {
  border-right:1px solid #CCCCCC;
  margin:10px 0;
  padding:0;
}
.ui-state-default .install_step {color: #C0C0C0;}
.ui-state-active .install_step {color: #222;}
.no-border .install_step {border: none;}
#dart1 {left: 100px;}
#dart2 {left: 455px;}
#dart3 {left: 780px;}
#thinkup-tabs #step-tab-1 {width:285px;}
#thinkup-tabs #step-tab-1 .install_step {width:285px;}
#thinkup-tabs #step-tab-2 {width:430px;}
#thinkup-tabs #step-tab-2 .install_step {width:430px;}
#thinkup-tabs #step-tab-3 {width:220px;}
#thinkup-tabs #step-tab-3 .install_step {width:220px;}
.pass_step {
  background: url(../img/yes.png) no-repeat 0 50%;
  display: block;
  min-height: 32px;
}
#pass-step-1 {background-position: 45px 50%;}
#pass-step-2 {background-position: 28px 50%;}
#pass-step-3 {background-position: 40px 50%;}
.next_step {
  width: 250px;
  margin-top: 20px;
  font-size: 1.4em;
  border:solid #999 1px;
  color:black;
}
.next_step a {
  display: block;
}
span.label, span.value {
  font-size: 24px;
}
.label.no {
  color: red;
}
.value.yes {
  color: green;
  background: url(../img/yes.png) no-repeat 0 50%;
  display: block;
  min-height: 32px;
  padding-left: 40px;
}
.value.no {
  color: red;
  background: url(../img/no.png) no-repeat 0 50%;
  display: block;
  min-height: 32px;
  padding-left: 40px;
}
.error_message {
  border: 2px solid #990000;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #CF3333;
  color: #FFF;
}
.success_message {
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #E4FFCF;
}
.info_message {
  background-color:#FFFFEE;
  border:1px solid #EEEE00;
  padding: 10px;
  margin-bottom: 20px;
}
.okay {color: green;}
.not_okay {color: red;}
.repair_log {
  font-family: Consolas,Monaco,Courier,monospace;
  font-size: 11px;
  color: green;
}
code {
    color : black;
}
.step_title, .error_title {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
  margin-top :30px;
  font-weight : 700;
}
.error_title {
  color: red;
  border-color: red;
}
form.input label {
  font-size:20px;
  line-height:2.2em;
}
form.input input {
  font-size:1.4em;
  margin:0 0 0;
  width:80%;
}
form.input .input_information {
  display: block;
  color: #999;
  width : 100%
}
.toggle-advanced-options { cursor: pointer; }
.toggle-advanced-options a {
}
.toggle-advanced-options a .ui-icon {
    display: inline-block;
    margin-left: 10px;
}
#database-advance-options { display: none; }