/* RESETS 
==============================*/
html {background: #E6E6E6;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
a, a:link, a:visited {text-decoration: none;color: #416A93;outline: none;}
a:hover {text-decoration: none;color: #6eac2c;}
/*a:visited {color : black;text-decoration: underline;}*/

/* BORDERS
==============================*/
.bt {border-top: 1px solid #CCC;}
.br {border-right: 1px solid #CCC;}
.bb {border-bottom: 1px solid #CCC;}
.bl {border-left: 1px solid #CCC;}
.border-all {border: 1px solid #CCC;}

.round-tl {-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;}
.round-tr {-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;}
.round-br {-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;}
.round-bl {-moz-border-radius-bottomleft: 10px;-webkit-border-bottom-left-radius: 10px;}
.round-all {-moz-border-radius: 10px;-webkit-border-radius: 10px}

/* SPACING, PADDING
==============================*/
.padding {padding:1em}
.pt {padding-top:1em}
.pr {padding-right:1em}
.pb {padding-bottom:1em}
.pl {padding-left:1em}
.mt_10 {margin-top:10px}
.mr_10 {margin-right:10px}
.mb_10 {margin-bottom:10px}
.ml_10 {margin-left:10px}

.append {padding-bottom:10px}
.prepend {padding-top:10px}
.append_20 {padding-bottom:20px}
.prepend_20 {padding-top:20px}

/* WEIGHTS, COLORS, SIZES
==============================*/
.bold {font-weight:700}
.gray {color: #666;}

.small {font-size: .8em;}
.large {font-size: 1.6em;}
.x-large {font-size: 3em;}
.underline {text-decoration:underline;}

.lh_1 {line-height:1em;}


/* GRAPHICS AND ICONS 
==============================*/
.ui-icon, .sprite {display: inline-block !important;}

/* LISTS
==============================*/
ul.user-accounts li {padding-bottom:.5em;list-style-position: inside;}
ul.user-accounts li ul li {margin-left:2em;}

/* WIREFRAME, POSITIONING ELEMENTS
======================= */
#content {margin:0;padding:0;}
.container {padding:0px;width:960px;margin: 0 auto;}
.top {position:relative;top-20px;}
.thinkup-canvas {background-color: #FFF;}
#tweets_content, #mentions_content, #followers_content, #friends_content, #favorites_content, #links_content {position:relative;top:-40px;}

#hd, #ft {padding : 20px 20px 20px 0px;}
#yui-main .yui-g {/*margin-left : 50px;width : 600px;*/width:960px;margin:0 auto;}
#bd {text-align:left;width:960px;margin:0 auto;}

.left {text-align:left}
.right {text-align:right}
.center {text-align:center}
.float-l {float:left;}
.float-r {float:right;}
.inline {display:inline;}


h4.trigger {position:relative; margin:0 auto !important; width:65px; margin-top:-45px !important; margin-bottom:50px !important; padding:0 !important;}
h4.trigger a:link, h4.trigger a:visited {font-size:.8em;color:#9D9C9C;font-weight:500;text-decoration:underline;}
h4.trigger a:hover {color:#222}
h4.trigger a:active {border:none}

/* TOOLTIPS
==============================*/
/* tooltip styling */
.tooltip {
	display:none;
	/*background-color: #000;*/
	height:140px;
	padding:70px 30px 10px 30px;
	width:310px;
	font-size:14px;
	color:#FFF;
	z-index:999;
	font-weight:bold;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:#FFF;
	width:35px;
	text-align:right;
	padding-right:4px;
	font-weight:normal;
}

.tooltip a {
	color:#6eac2c;
	font-size:14px;
}

/* TABS, MENUS, NAVIGATION, STATUS BAR, ETC 
==============================*/

/* Map Icon */
.map-icon {margin-right:-20px; margin-top:-40px; float:right;}
.map-icon-public {margin-right:20px;}

/* JQuery UI resets */
.ui-tabs .ui-tabs-panel {padding:0;}
.ui-widget {font-size:1em;}

/*.ui-tabs {padding:0}
.ui-widget-content {border:0px;}
.ui-widget-header {margin:1em;background-image:none;background-color:#FFF;border:none;}*/

/* added to tab id */
#thinkup-tabs .ui-tabs {-moz-border-radius: 10px;-webkit-border-radius: 10px;margin: 0px;} 
#thinkup-tabs .ui-widget {margin-top: 10px;font-size:1em;}
#thinkup-tabs .ui-widget-content {padding:0;background-image: none}
#thinkup-tabs .ui-corner-all {}

/* added to ul */
#thinkup-tabs .ui-tabs-nav {margin:0px;background-color: #E6E6E6;border:1px solid;}
#thinkup-tabs .ui-helper-reset {}
#thinkup-tabs .ui-helper-clearfix {}
#thinkup-tabs .ui-widget-header {background-image:none;}
#thinkup-tabs .ui-corner-all {-moz-border-radius: 10px;-webkit-border-radius: 10px;}

/* added to li */
#thinkup-tabs .ui-state-default {width:158px;line-height:1.6em;font-size: 1.2em;border: 0px;background-color: #FFF;margin-right: 0px;background:none;}

#thinkup-tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color:#9D9C9C;}
#thinkup-tabs .ui-state-default a:hover {color:#222222}
#thinkup-tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color:#222222;}

#thinkup-tabs .ui-corner-top {}

#thinkup-tabs .ui-tabs-selected {width:158px;line-height:1.6em;font-size: 1.2em;margin-right: 0px;border:0px;background:none;}
#thinkup-tabs .ui-state-active {width:158px;line-height:1.6em;font-size: 1.2em;margin-right: 0px;border:0px;background:none;}

#thinkup-tabs .ui-tabs .ui-tabs-nav li {text-align:center;}
#thinkup-tabs .ui-tabs .ui-tabs-nav li a {margin:10px 0;border-right: 1px solid #CCC;width:158px;padding: 0;}
#thinkup-tabs .ui-tabs .ui-tabs-nav li.no-border a {border: 0px}

/* added to tab content */
#thinkup-tabs .ui-tabs-panel {padding-left:0px;}
#thinkup-tabs .ui-widget-content {background-color:#E6E6E6;border:0px;}
#thinkup-tabs .ui-corner-bottom {}
#thinkup-tabs .ui-tabs .ui-tabs-panel {border: 0px;background-color: #FFF;-moz-border-radius: 10px;-webkit-border-radius: 10px;margin-top: 42px;}

/* main tab navigation */
.key-stat {margin:0;padding:0;}
.key-stat h1 {font-size: 1.7em;font-weight:700;letter-spacing:-4px}
.key-stat h3 {font-size: .8;font-weight:500;}


#menu-bar {float: right;margin:20px 0 20px 0;}
#menu-bar ul {}
#menu-bar li {display: inline;background-color: #222;padding: 0;margin: 0 1px 0 0;font-size: 1.2em;float: left;}
#menu-bar li a:link, #menu-bar li a:visited {color: #FFF;display: block;padding: 15px 10px;text-decoration: none;}


/*
#status-bar {
border: 1px solid;
padding: 20px 30px;
margin: 20px 0 20px 0;
font-size: 1.6em;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
text-align:center;
text-align: center;
}
*/

#status-bar {padding:4px 20px;margin:0;font-size:.9em;color:#FFF;background-color:#444;}
#status-bar .status-bar-left {float:left;}
#status-bar .status-bar-right {float:right;}

#status-bar ul {float:right;margin:0;padding:0;}
#status-bar li {display: inline;}
#status-bar a:link, #status-bar a:visited {color: #FFF;text-decoration:underline}
#status-bar a:hover {text-decoration: none}

#choose-instance, #cancel-instance {cursor: pointer;}

.menu {margin-bottom:30px;}
.menu li {margin-right: 40px;display:inline;padding:4px 10px;}
.menu li a {color:#000}
.menu li:hover{color: #0060e0;cursor: pointer;border-top:2px solid #0060e0;}  
.menu li.selected {border-top:2px solid #000;}
.menu li.selected:hover {border-top:2px solid #0060e0;}


.submenu {padding-left : 20px;}
#sidemenu {display : none;}

/* slick grid style */
.grid_iframe {width: 920px; height: 660px; display: none; border: solid black 0px;}
.grid_iframe2 {width: 705px; height: 660px; display: none; border: solid black 0px;}
#close_grid_search_div {text-align: right; margin-right: 10px;}
.grid_overlay_div { 
    width: 920px; height: 700px; border: solid black 2px; display: none; top: 30px; left: 50%;
    z-index: 100; margin-left: -536px; position: absolute; background-color: #fff;
}
.grid_overlay_div2 { 
    width: 720px; height: 700px; border: solid gray 1px;  display: none; top: 150px; left: 50%; background-color: #fff;
}
/* body overlay div (backround grayout for slick grid search unit */
#screen {position: absolute; left: 0; top: 0; background: #000; z-index: 99; color: red; display: none;}


.success {
  background-color: #BFDFBF;
  margin: 10px 0px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.ui-state-highlight p a {color:#416A93;}
.ui-state-error p a {color:#416A93;}


/* Sidebar */

#nav-sidebar {background-color:#e6e6e6; padding-left: 8px;}
#nav-sidebar h2 {padding-bottom: 10px; padding-top:20px; color: black;font-size: medium;}
#nav-sidebar h2 a {color : black;}
#nav-sidebar {font-size: small; color: #999;}
#nav-sidebar ul {list-style-type: none; padding-bottom : 10px;}
#nav-sidebar li {list-style-type: none;}
#nav-sidebar a, .word-frequency-div div {
	display: block;
	color: #666;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
#nav-sidebar ul.side-subnav li a:hover {
	background-color: #6184B5;
	border: 0px solid #ddd;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
}
#nav-sidebar ul.side-subnav li a:hover {color: white;}
#top-level-sidenav {margin-top:7px}
#nav-sidebar ul.side-subnav .currentview a, #nav-sidebar ul.side-subnav .currentview a:hover {
  color: #6184B5;
  background-color: #FFF;
  border: 0px solid #ddd;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
}

,post-replies-div {
	clear : both;
}

/* word frequency list */

.word-frequency-div {
	clear : both;
	margin-top:20px;
}

.word-frequency-div div {
	font-size : large;
	background-color: #eee;
	-moz-border-radius: 3px;-webkit-border-radius: 3px;
	border: 0px solid #ddd;
	float: left;
	list-style-type: none;
    margin-right : 20px;
    margin-bottom : 20px;
}

.word-frequency-div div:hover {
  background-color: #6184B5;
  color: white;
  -moz-border-radius: 3px;-webkit-border-radius: 3px;
  border: 0px solid #ddd;
}

.word-frequency-count {
	border-left : 1px dotted #999;
	padding-left : 6px;
	margin-left : 4px;
}
.word-frequency-word { cursor: pointer; }

.top-word-result {
	padding-bottom : 10px;
}
.top-word-highlight {
	padding-top: 2px;
	padding-bottom: 4px;
	background-color: #ff0;
	-moz-border-radius: 3px;-webkit-border-radius: 3px;
    margin-bottom : 20px;
}
 
