html {background: #E6E6E6;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
a, a:link, a:visited {text-decoration: none;color: #416A93;outline: none;}
a:hover {text-decoration : none;color : red;}
/*a:visited {color : black;text-decoration: underline;}*/

.bt {border-top: 1px solid #333;}
.br {border-right: 1px solid #333;}
.bb {border-bottom: 1px solid #333;}
.bl {border-left: 1px solid #333;}
.border-all {border: 1px solid #333;}

.round-tl {-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;}
.round-tr {-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;}
.round-br {-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;}
.round-bl {-moz-border-radius-bottomleft: 10px;-webkit-border-bottom-left-radius: 10px;}
.round-all {-moz-border-radius: 10px;-webkit-border-radius: 10px}

.padding {padding:1em;}

.bold {font-weight:700}
.gray {color: #666;}

.small {font-size: .8em;}
.large {font-size: 1.6em;}
.x-large {font-size: 3em;}
.underline {text-decoration:underline;}

ul.user-accounts li {padding-bottom:.5em;list-style-position: inside;}
ul.user-accounts li ul li {margin-left:2em;}

/* TABS, MENUS, NAVIGATION, STATUS BAR, ETC 
==============================*/

/* Map Icon */
.map-icon {margin-right:-20px; margin-top:-40px; float:right;}
.map-icon-public {margin-right:20px;}

/* JQuery UI resets */
.ui-tabs .ui-tabs-panel {padding:0;}
.ui-widget {font-size:1em;}

/*.ui-tabs {padding:0}
.ui-widget-content {border:0px;}
.ui-widget-header {margin:1em;background-image:none;background-color:#FFF;border:none;}*/

/* added to tab id */
#thinkup-tabs .ui-tabs {-moz-border-radius: 10px;-webkit-border-radius: 10px;margin: 0px;} 
#thinkup-tabs .ui-widget {margin-top: 10px;font-size:1em;}
#thinkup-tabs .ui-widget-content {padding:0;background-image: none}
#thinkup-tabs .ui-corner-all {}

/* added to ul */
#thinkup-tabs .ui-tabs-nav {margin:0px;background-color: #E6E6E6;border:1px solid;}
#thinkup-tabs .ui-helper-reset {}
#thinkup-tabs .ui-helper-clearfix {}
#thinkup-tabs .ui-widget-header {background-image:none;}
#thinkup-tabs .ui-corner-all {-moz-border-radius: 10px;-webkit-border-radius: 10px;}

/* added to li */
#thinkup-tabs .ui-state-default {width:158px;line-height:1.6em;font-size: 1.2em;border: 0px;background-color: #FFF;margin-right: 0px;background:none;}

#thinkup-tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color:#9D9C9C;}
#thinkup-tabs .ui-state-default a:hover {color:#222222}
#thinkup-tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color:#222222;}

#thinkup-tabs .ui-corner-top {}

#thinkup-tabs .ui-tabs-selected {width:158px;line-height:1.6em;font-size: 1.2em;margin-right: 0px;border:0px;background:none;}
#thinkup-tabs .ui-state-active {width:158px;line-height:1.6em;font-size: 1.2em;margin-right: 0px;border:0px;background:none;}

#thinkup-tabs .ui-tabs .ui-tabs-nav li {text-align:center;}
#thinkup-tabs .ui-tabs .ui-tabs-nav li a {margin:10px 0;border-right: 1px solid #CCC;width:158px;padding: 0;}
#thinkup-tabs .ui-tabs .ui-tabs-nav li.no-border a {border: 0px}

/* added to tab content */
#thinkup-tabs .ui-tabs-panel {padding-left:0px;}
#thinkup-tabs .ui-widget-content {background-color:#E6E6E6;border:0px;}
#thinkup-tabs .ui-corner-bottom {}
#thinkup-tabs .ui-tabs .ui-tabs-panel {border: 0px;background-color: #FFF;-moz-border-radius: 10px;-webkit-border-radius: 10px;margin-top: 42px;}

/* main tab navigation */
.key-stat {margin:0;padding:0;}
.key-stat h1 {font-size: 1.7em;font-weight:700;letter-spacing:-4px}
.key-stat h3 {font-size: .8;font-weight:500;}


#menu-bar {float: right;margin:20px 0 20px 0;}
#menu-bar ul {}
#menu-bar li {display: inline;background-color: #222;padding: 0;margin: 0 1px 0 0;font-size: 1.2em;float: left;}
#menu-bar li a:link, #menu-bar li a:visited {color: #FFF;display: block;padding: 15px 10px;text-decoration: none;}


/*
#status-bar {
border: 1px solid;
padding: 20px 30px;
margin: 20px 0 20px 0;
font-size: 1.6em;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
text-align:center;
text-align: center;
}
*/

#status-bar {padding:4px 20px;margin:0;font-size:.9em;color:#FFF;background-color:#444;}
#status-bar .status-bar-left {float:left;}
#status-bar .status-bar-right {float:right;}

#status-bar ul {float:right;margin:0;padding:0;}
#status-bar li {display: inline;}
#status-bar a:link, #status-bar a:visited {color: #FFF;text-decoration:underline}
#status-bar a:hover {text-decoration: none}

#choose-instance, #cancel-instance {cursor: pointer;}

.menu {margin-bottom:30px;}
.menu li {margin-right: 40px;display:inline;padding:4px 10px;}
.menu li a {color:#000}
.menu li:hover{color: #0060e0;cursor: pointer;border-top:2px solid #0060e0;}  
.menu li.selected {border-top:2px solid #000;}
.menu li.selected:hover {border-top:2px solid #0060e0;}


.submenu {padding-left : 20px;}
#sidemenu {display : none;}

/* slick grid style */
#grid_iframe {width: 920px; height: 660px; display: none; border: solid black 0px;}
#close_grid_search_div {text-align: right; margin-right: 10px;}
.grid_overlay_div { 
    width: 920px; height: 700px; border: solid black 2px; display: none; top: 30px; left: 50%;
    z-index: 100; margin-left: -536px; position: absolute; background-color: #fff;
}
.grid_overlay_div2 { 
    width: 920px; height: 700px; border: solid black 2px; display: none; top: 150px; left: 50%;
    z-index: 100; margin-left: -463px; position: absolute; background-color: #fff;
}
/* body overlay div (backround grayout for slick grid search unit */
#screen {position: absolute; left: 0; top: 0; background: #000; z-index: 99; color: red; display: none;}


.success {
  background-color: #BFDFBF;
  margin: 10px 0px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.ui-state-highlight p a {color:#416A93;}
.ui-state-error p a {color:#416A93;}


/* Sidebar */

#nav-sidebar {background-color:white; padding-left: 8px;}
#nav-sidebar h2 {padding-bottom: 10px; padding-top:20px; color: black;font-size: medium;}
#nav-sidebar h2 a {color : black;}
#nav-sidebar {font-size: small; color: #999;}
#nav-sidebar ul {list-style-type: none; padding-bottom : 10px;}
#nav-sidebar li {list-style-type: none;}
#nav-sidebar a {
	display: block;
	color: #666;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
}
#nav-sidebar ul.side-subnav li a:hover {
	background-color: #6184B5;
	-moz-border-radius: 3px;-webkit-border-radius: 3px;
	border: 0px solid #ddd;
}
#nav-sidebar ul.side-subnav li a:hover {color: white;}
#top-level-sidenav {margin-top:7px}
#nav-sidebar ul.side-subnav .currentview a, #nav-sidebar ul.side-subnav .currentview a:hover {
	color: #6184B5;
	background-color: #E6E6E6;
	-moz-border-radius: 3px;-webkit-border-radius: 3px;
	background-color: #e6e6e6;
	background: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);  
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));  
	border: 0px solid #ddd;
}