html {background: #E6E6E6;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
a, a:link, a:visited {text-decoration: none;color: #416A93;outline: none;}
a:hover {text-decoration : none;color : red;}
/*a:visited {color : black;text-decoration: underline;}*/

.bt {border-top: 1px solid #333;}
.br {border-right: 1px solid #333;}
.bb {border-bottom: 1px solid #333;}
.bl {border-left: 1px solid #333;}
.border-all {border: 1px solid #333;}

.round-tl {-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;}
.round-tr {-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;}
.round-br {-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;}
.round-bl {-moz-border-radius-bottomleft: 10px;-webkit-border-bottom-left-radius: 10px;}
.round-all {-moz-border-radius: 10px;-webkit-border-radius: 10px}

.padding {padding:1em;}

.bold {font-weight:700}
.gray {color: #666;}

.small {font-size: .8em;}
.large {font-size: 1.6em;}
.x-large {font-size: 3em;}
.underline {text-decoration:underline;}

ul.user-accounts li {padding-bottom:.5em;list-style-position: inside;}
ul.user-accounts li ul li {margin-left:2em;}

/* TABS, MENUS, NAVIGATION, STATUS BAR, ETC 
==============================*/

/* JQuery UI resets */
.ui-tabs .ui-tabs-panel {padding:0;}
.ui-widget {font-size:1em;}

/*.ui-tabs {padding:0}
.ui-widget-content {border:0px;}
.ui-widget-header {margin:1em;background-image:none;background-color:#FFF;border:none;}*/

/* added to tab id */
#thinktank-tabs .ui-tabs {-moz-border-radius: 10px;-webkit-border-radius: 10px;margin: 0px;} 
#thinktank-tabs .ui-widget {margin-top: 10px;font-size:1em;}
#thinktank-tabs .ui-widget-content {padding:0;background-image: none}
#thinktank-tabs .ui-corner-all {}

/* added to ul */
#thinktank-tabs .ui-tabs-nav {margin:0px;background-color: #EEEEEA;border:1px solid;}
#thinktank-tabs .ui-helper-reset {}
#thinktank-tabs .ui-helper-clearfix {}
#thinktank-tabs .ui-widget-header {background-image:none;}
#thinktank-tabs .ui-corner-all {-moz-border-radius: 10px;-webkit-border-radius: 10px;}

/* added to li */
#thinktank-tabs .ui-state-default {width:190px;line-height:1.6em;font-size: 1.2em;border: 0px;background-color: #FFF;margin-right: 0px;background:none;}

#thinktank-tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color:#9D9C9C;}
#thinktank-tabs .ui-state-default a:hover {color:#222222}
#thinktank-tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color:#222222;}

#thinktank-tabs .ui-corner-top {}

#thinktank-tabs .ui-tabs-selected {width:190px;line-height:1.6em;font-size: 1.2em;margin-right: 0px;border:0px;background:none;}
#thinktank-tabs .ui-state-active {width:190px;line-height:1.6em;font-size: 1.2em;margin-right: 0px;border:0px;background:none;}

#thinktank-tabs .ui-tabs .ui-tabs-nav li {text-align:center;}
#thinktank-tabs .ui-tabs .ui-tabs-nav li a {margin:10px 0;border-right: 1px solid #CCC;width:190px;padding: 0;}
#thinktank-tabs .ui-tabs .ui-tabs-nav li.no-border a {border: 0px}

/* added to tab content */
#thinktank-tabs .ui-tabs-panel {padding-left:0px;}
#thinktank-tabs .ui-widget-content {background-color:#EEEEEA;border:0px;}
#thinktank-tabs .ui-corner-bottom {}
#thinktank-tabs .ui-tabs .ui-tabs-panel {border: 0px;background-color: #FFF;-moz-border-radius: 10px;-webkit-border-radius: 10px;margin-top: 42px;}

/* main tab navigation */
.key-stat {margin:0;padding:0;}
.key-stat h1 {font-size: 1.7em;font-weight:700;letter-spacing:-4px}
.key-stat h3 {font-size: .8;font-weight:500;}


#menu-bar {float: right;margin:20px 0 20px 0;}
#menu-bar ul {}
#menu-bar li {display: inline;background-color: #222;padding: 15px 10px;margin: 0 1px 0 0;font-size: 1.2em;float: left;}
#menu-bar li a:link, #menu-bar li a:visited {color: #FFF;text-decoration: none;}


/*
#status-bar {
border: 1px solid;
padding: 20px 30px;
margin: 20px 0 20px 0;
font-size: 1.6em;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
text-align:center;
text-align: center;
}
*/

#status-bar {padding:4px 20px;margin:0;font-size:.9em;color:#FFF;background-color:#444;}
#status-bar .status-bar-left {float:left;width:50%;}
#status-bar .status-bar-right {float:right;width:50%;}

#status-bar ul {float:right;margin:0;padding:0;}
#status-bar li {display: inline;}
#status-bar a:link, #status-bar a:visited {color: #FFF;text-decoration:underline}
#status-bar a:hover {text-decoration: none}

#choose-instance, #cancel-instance {cursor: pointer;}

.menu {margin-bottom:30px;}
.menu li {margin-right: 40px;display:inline;padding:4px 10px;}
.menu li a {color:#000}
.menu li:hover{color: #0060e0;cursor: pointer;border-top:2px solid #0060e0;}  
.menu li.selected {border-top:2px solid #000;}
.menu li.selected:hover {border-top:2px solid #0060e0;}


.submenu {padding-left : 20px;}
#sidemenu {display : none;}


