@CHARSET "UTF-8";
.thinkup_post {font-size:110%;font-weight:bold;}
.thinkup_post_reply {font-size:100%}
.thinkup_error {color:red;font-weight:bold;}
.thinkup_avatar {border:none;padding:none;margin-right:10px;}