#!/bin/bash

#path to ThinkTank on remote server
remote_base="~/path-to/thinktank"

#Logon info
username="username"
server="server.example.com"


#paths to ThinkTank components
remote_common="$remote_base/common"
remote_crawler="$remote_base/crawler"
remote_webapp="$remote_base/webapp"
remote_extras="$remote_base/extras"



#############################
#Don't Alter anything below 
#this mark unless you know 
#what you are doing
#############################

