#!/bin/bash

#Database credentials
db_name="thinktank_migration"
db_user="thinktank_user"
db_password="password"

#MySQL bin location
mysql="mysql"
mysqldump="mysqldump"


#############################
#Don't Alter anything below 
#this mark unless you know 
#what you are doing
#############################

